.navbar{
	background: #535151 !important;
	padding: 25px;
}
.jumbotron{
	background: url('../img/img.jpg');
	background-size: 100%;
	padding: 150px;
}
.contenido-jumbotron{
	background: rgba(255,255,255,0.4);
	width: 60%;
	margin: auto;
	text-align: center;
	padding: 30px;
}
.year-round{
	text-align: center;
}
.img-categoria:hover{
	cursor: pointer;
	transform: scale(1.2);
}
